{{ define "main" }}

<!-- Introduction Section -->
<div class="intro-header">
  <img src="/images/logo-banner.png" alt="OSLA Logo" class="align-center" style="height: 250px; width: auto; object-fit: contain; justify-content: center;">
</div>

<!-- Main Content Container -->
<div class="container" role="main">
  <!-- Content Section -->
  <div class="row">
    {{ with .Content }}
    <div class="well mb-5">
      {{ . }}
    </div>
    {{ end }}
  </div>

  <!-- Blog Section -->
  <div class="row mb-5 justify-content-center">
    <div class="col-10">
      {{ $pag := .Paginate (where site.RegularPages "Type" "blog") 9 }}
      <div class="row justify-content-center">
        {{ range $pag.Pages }}
          <div class="col-10 mb-4">
            {{ partial "post_preview_card" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>

  <!-- Pagination Section -->
  <div class="row font-sans justify-content-center">
    <div class="col-md-10 mt-4">
      <nav aria-label="Page navigation">
        <div class="pagination justify-content-center">
          {{ template "_internal/pagination.html" $pag }}
        </div>
      </nav>
    </div>
  </div>
</div>

{{ end }}